*{
    margin:0%;
    padding:0%;
}

html,body{
    height:100%;
    width:100%;
}

body{
    background-color: rgb(186, 233, 233);

}
    

div{
    height: 200px;
    width: 200px;
    text-align:center;
}
main{
    display:flex;
}

#box1{
    background-color: coral;
    border-radius: 50%;
}
#box2{
    background-color: rgb(25, 198, 198);
    border-radius: 50%;;
}
#box3{
    background-color: darkgreen;
    border-radius: 50%;
}